.table-values {
  display: flex;
  justify-content: space-between;
  border: 1px solid rgba(128, 128, 128, 0.361);
  padding: 0 15px 0 15px;
}
.table-values p {
  flex: 1;
}
.del-btn {
  flex: 1;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}
.del-btn img {
  height: 30px;
  opacity: 0.6;
}
